In [14]:
for i in range (11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [15]:
for i in range (1,11,2):
    print(i)

1
3
5
7
9

In [16]:
for i in range (10,110,10):
    print(i)

10
20
30
40
50
60
70
80
90
100

In [17]:
for i in range(1,60):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58

In [18]:
for i in range(1,60):
    if i % 2 == 0:
        print("even")
    print (i)

1
even
2
3
even
4
5
even
6
7
even
8
9
even
10
11
even
12
13
even
14
15
even
16
17
even
18
19
even
20
21
even
22
23
even
24
25
even
26
27
even
28
29
even
30
31
even
32
33
even
34
35
even
36
37
even
38
39
even
40
41
even
42
43
even
44
45
even
46
47
even
48
49
even
50
51
even
52
53
even
54
55
even
56
57
even
58
59

In [19]:
for i in range (152,329):
    if i % 6 == 0:
        print (i)

156
162
168
174
180
186
192
198
204
210
216
222
228
234
240
246
252
258
264
270
276
282
288
294
300
306
312
318
324

In [20]:
for i in range(152,629):
    if (i % 6 == 0) and (i%17==0):
        print (i)

204
306
408
510
612

WAP to display the sum of all numbers from 10 to 40.

In [21]:
sum = 0
for i in range (10,41):
    sum = sum + i
print (sum)

775

In [22]:
sum = 0
for i in range(10,41):
    if i % 2==0:
        sum = sum + i
print(sum)

400

WAP to find the total product of all the numbers divisible by 13 in between 222 and 845

In [23]:
p = 1
for i in range (222,845):
    if i % 13 == 0:
        p=p*i
print(p)

8085110142039910744952055354811477959620653259287920127920535354496871849246726626590929843562089507387277061180620800000000000

In [24]:
correct_password = 'abc123'
while True:
    inputpass = input("enter the password:")
    if inputpass == correct_password:
        print('access granted')
        break
    else:
        print('access denied, try again')
        # continue

access granted

In [25]:
for i in range (20,11,-2):
    print(i)

20
18
16
14
12

In [26]:
while True:
   username = input('enter your username:')
   if (len(username) >= 7):
      print('username is valid')
      break
   else:
      print('username must be at least 7 characters long, try again')

username is valid

In [27]:
sum=0
for i in range(100,301):
    if (i % 5==0) and (i % 6==0):
        sum= sum + i
print(sum)

1470

In [28]:
sum=0
for i in range(200,501):
    if (i % 7==0) and (i % 11==0):
        sum= sum + i
print(sum)

1386

In [29]:
p=1
for i in range(1,51):
    if(i % 5==0) and (i % 6==0):
        p=p*i
print(p)

30

WAP to check if the number is prime or not.

In [30]:
num = int(input('enter a number: '))
for i in range(2,num):
    if num % i==0:
        print(f'{num} is not a prime number')
        break
    else:
        print(f'{num} is a prime number')
        break

14 is not a prime number